body {
	position: relative;
	min-width: 600px;
}

#navigation{
	display: block;
	float: left;
	width: 12em;
	position: relative;
	left: 1em;
	top: 1em;
}


#navText{
	text-align: center;
}

footer{
	clear: left;
}
footer>p{
	padding:0px;
	margin:0px;
}

#content {
	padding-left: 15.5em;
	padding-top: 1em;
}