html {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	padding: 5px;
	color: #004;
	background-color: #669;
}

h1,h2,h3,h4,h5{
	font-family: "Verdana", sans-serif;
}

header>h5{
	text-align: right;
}

a{
	color: #00d;
	text-decoration: none;
}

a:visited{
	color: #00e;
	text-decoration: none;
}

a:hover,a:focus{
	color: #0ff;
}
header{
	padding-left: 6px;
	padding-right:6px;
	font-size:1.2em;
	text-align:center;
	padding: 3px;
	border: 2px solid #00d;
	border-radius: 4px;
	background-color: #556;
}

header>h5 {
	text-align:right;
}

footer {
	background-color: #bbd;
	text-align: center;
	padding: 6px;
	border: 2px solid #00d;
	border-radius: 4px;
}

#navigation,#content{
	padding:6px;
	padding-left:10px;
	padding-right:10px;
	background-color: #778;
	border-left: 2px solid #00d;
	border-right: 2px solid #00d;
	border-radius: 4px;
}

#navigation {
	border-bottom: 2px solid #00d;
}

#navigation>li{
	padding-top:6px;
	padding-bottom:6px;
}
#navigation>ul{
	padding-left:18px;
	padding-right:18px;
}

tbody>tr:nth-child(odd)>td, tbody>tr:nth-child(odd)>th {
	background-color: #667;
}